block content 
    main
        section
            h2 How Dreamshare works?
            .dreamshare
                .dreamshare--step1
                    button STEP 1
                    h5
                    | Sed leo enim, 
                    br
                    |  condimentum
                    p
                    | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet
                    | facilisis.
                .dreamshare--step2
                    button STEP 2
                    h5 Morbi velit risus
                    p
                    | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
                .dreamshare--step3
                    button STEP 3
                    h5
                    | Sed leo enim,
                    br
                    |  condimentum
                    p
                    | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet
                    | facilisis.
        section
            h2 Meet a partner for your best holiday
            .partners
                .partners--f-line
                    .partners--partner1
                        img(src='images/Avatar1.png', alt='')
                        h6 Bradley Hunter
                        p Based in Chicago. I love playing tennis and loud music.
                    .partners--partner2
                        img(src='images/Avatar2.png', alt='')
                        h6 Marie Bennett
                        p Currently living in Colorado. Lover of art, languages and travelling.
                .partners--s-line
                    .partners--partner3
                        img(src='images/Avatar3.png', alt='')
                        h6 Diana Wells
                        p
                        | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
                    .partners--partner4
                        img(src='images/Avatar4.png', alt='')
                        h6 Christopher Pierce
                        p Star Wars fanatic. I have a persistent enthusiasm to create new things.
            button.partners-button
                | See other partners
        section
            h2 Discover holiday activity ideas
            .idea1
                .idea1--sport
                    p Sport and activis
                .idea1--sun
                    p Wellness and Health
                .idea1--extreme
                    p
                     | Extreme Sports
                     | and Expeditions
            .idea2
                .idea2--gemes
                    p Games
                .idea2--culture
                    p Culture and Education
            .idea3
                .idea3--enjoy
                    p Enjomet and Relaxation
                .idea3--trewel
                    p Trevelling
        section
            .search
                h2 Crate your holiday activity
                p Hi! What are your holiday interests?
                form
                    p
                        input.search--s(type='search', name='q', placeholder='Enter your insterests')
                        input.search--button(type='submit', value='Search partners')
