footer 
  section.footer-sect
    .dreamshare DREAMSHARE
    .company
      h4 Company
      .company--ferst
        p About
        p Contact
        p Press
        p Blog
      .company--second
        p Terms and Privacy
        p Help
    .partnerss
      h4 Partners
    .areto
      p DESIGNED BY
      img(src='images/Bitmap.png', alt='')

    