header 
    .container
        .logoandlodin
            .logoandlodin--logo
                | DREAMSHARE
            .logoandlodin--login
                a(href='#') Log in
                button
                    a(href='#') Sing up
        .container--header
            h1
                | SHARE YOUR 
                br
                |                     HOLIDAY DREAM
            p.container--header--text And find the perfect partner to fullfill it
            button
                a(href='#') Find your holiday partner
    